$icon-font-path: "../fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

html {height: 100%;}
body {height: 100%;}
#main {height: 100%;}
.view {padding: 71px 0;}

.wrap {
    min-height: 100%;
    margin: 0 auto -60px;
}

.button-row {
    padding-bottom: 10px;

    .button-right {
        float: right;
    }
};

input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.footer {height: 60px;}

form#play {
    #body-container {
        overflow: auto;
    }
    #time {display: inline-block};
    #body {
        margin:0;
        padding:0;
        font-family: monospace;
    }
}