@import "./bootstrap-customize.scss";

//==============================================================================
// GENERAL =====================================================================
//==============================================================================
// Full-height
html {height: 100%;}
body {
    height: 100%;
}

img {
    max-width: 100%;
}

.view {padding: 71px 0;}

.wrap {
    min-height: 100%;
    margin: 0 auto -60px;
}

// Font-Awesome fix
.fa {text-rendering: auto;}

// Semantic styles
.inline{display: inline-block;}
.right{float: right;}

// Footer
.footer {
    height: 60px;
    
    @media only screen and (min-width : $screen-md-min) {
        .right-foot {
            float: right;
            text-align: right;
        }
    }
}

// Input 
input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

// Pre
pre {
    background: $transparent;
    color: $text-color;
    font-size: 1.1em;
}

button:focus, input:focus  {
    outline: none !important;
}

.highlight {
    color: $brand-info;
}

.btn {
    white-space: normal;
}

//==============================================================================
// ROUTES ======================================================================
//==============================================================================
// MAIN
#main {height: 100%;}

@media only screen and (min-width : $screen-md-min) {
    // ABOUT (larger sizes)
    #about {
        .row {
            position: relative;
        }
        
        .img-container-right {
            right: 0;
        }
        
        .img-container {
            top: 0;
            bottom: 0;
            position: absolute;
            text-align: center;
            
            .svg-icon {
                width: 100%;
                height: auto;
                max-height: 100%;
            }
        }
    }
}

// ALL
#all {
    .big-btn-container {
        padding: 10px;
        text-align: center;
    }
    
    .prompt-container {
        padding: 10px;
    }
    .prompt {
        padding: 10px;
        border-radius: $border-radius-base;
        border: $border;
    }
    
    .wait {
        background: rgb(240, 240 ,240);
        background: rgba(250,250,250,0.3);
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        .waitspin {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
}

// Edit/Load
.edit {
    .body {
        font-family: $font-family-monospace;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

// Play
#play {
    #time {display: inline-block};
    
    #body-container {
        overflow: auto;
        overflow: overlay;
        border-top-left-radius: $border-radius-base;
        border-bottom-left-radius: $border-radius-base;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: $border;
    }
    
    #body {
        margin: 0;
        padding: 10px 20px 10px 10px;
        word-break: break-word;
        word-wrap: break-word;
        white-space: pre-wrap;
        background: $transparent;
        border: none;
        border-radius: 0;
        color: $text-color;
    }
}


.view {padding: 71px 0;}

.wrap {
    min-height: 100%;
    margin: 0 auto -60px;
}

.navbar-brand img {height: 20px;}

.button-row {
    padding-bottom: 10px;

    .button-right {
        float: right;
    }
};





