$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

html {height: 100%;}
body {height: 100%;}
#main {height: 100%;}
.view {padding: 71px 0;}

.wrap {
    min-height: 100%;
    margin: 0 auto -60px;
}

.footer {height: 60px;}

#play {
    #body-container {
        overflow: auto;
        max-height: 500px;
    }
    #body {
        margin:0;
        padding:0;
        font-family: monospace;
    }
}

