<?xml version="1.0" encoding="UTF-8" ?>
<widget 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:gap="http://phonegap.com/ns/1.0"
    id="net.whentheresawill.prompt" 
    version="0.3.0">
    
    <name>prompt</name>
    <description>Your mobile teleprompter</description>
    <author email="will@whentheresawill.net"
    href="http://whentheresawill.net">Will</author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="android-targetSdkVersion" value="17" />
    
    <gap:config-file platform="android" parent="/manifest">
        <application android:debuggable="true" />
    </gap:config-file>
    
    <icon src="icon.png" />
</widget>