<div class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">{{ modal.title }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ modal.body }}</p>
      </div>
      <div class="modal-footer">
        <!-- Buttons -->
        <button type="button" ng-repeat="button in modal.buttons" class="btn" ng-class="button.class" ng-click="button.click">{{ button.text }}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->