<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="tw">
                <a class="navbar-brand" href="/"><img src="images/logo.png" title="prompt"/></a>
            </span>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!-- All -->
                <li>
                    <a href="#/all"><i class="fa fa-file-text"></i> Prompts</a>
                </li>
                <!-- New -->
                <li>
                    <a href="#/load"><i class="fa fa-file-text-o"></i> New</a>
                </li>
                <!-- About -->
                <li>
                    <a href="#/about"><i class="fa fa-question-circle"></i> About</a>
                </li>
                <!-- Raw -->
                <li>
                    <a href="#/raw"><i class="fa fa-exclamation-triangle"></i> Import/Export</a>
                </li>
            </ul>
        </div>
    </div>
</div>