<form role="form" id="play">
    <div class="button-row">
        <input type="button" class="btn btn-success" value="Start" ng-disabled="scroller.scrollStarted() && !scroller.scrollPaused()" ng-click="scroller.play(play.prompt.time)">
        <input type="button" class="btn btn-warning" value="Pause" ng-disabled="!scroller.scrollStarted() || scroller.scrollPaused()" ng-click="scroller.pause()">
        <input type="button" class="btn btn-danger" value="Top" ng-disabled="!scroller.scrollStarted()" ng-click="scroller.top()">
        
        <input type="button" class="btn btn-info button-right" value="Edit" ng-click="play.editPrompt()">
    </div>
    <h2 id="name">{{ play.prompt.name }}</h2>
    <p id="time"><em>{{ play.prompt.time | amDurationFormat}}</em></p>
    <div id="body-container" full-height><p id="body" ng-bind-html="play.prompt.body"></p></div>
</form>