<form role="form" id="play">
    <video id='keep-awake-video' style="position: fixed; opacity: 0; top: -1; left: -1;" width=1 height=1 loop>
      <source src="images/blank_test.mp4" type="video/mp4">
    </video>
    
    <div class="button-row">
        <button class="btn btn-success" ng-disabled="scroller.scrollStarted() && !scroller.paused" ng-click="scroller.play(play.prompt.time)"><i class="fa fa-play"></i> Start</button>
        <button class="btn btn-warning" ng-disabled="!scroller.scrollStarted() || scroller.paused" ng-click="scroller.pause()"><i class="fa fa-pause"></i> Pause</button>
        <button class="btn btn-danger" ng-disabled="!scroller.scrollStarted()" ng-click="scroller.top()"><i class="fa fa-stop"></i> Top</button>
        <button class="btn btn-info" ng-click="scroller.notesToggle(play.prompt.time)"><i class="fa fa-paperclip"></i> Open Notes</button>
        
        <button type="button" class="btn btn-info button-right" ng-click="play.editPrompt()"><i class="fa fa-pencil"></i> Edit</button>
    </div>
    <h2 id="name" class="inline">{{ play.prompt.name }}</h2>
    <p id="time" class="inline">&nbsp&nbsp<i class="fa fa-clock-o"></i> <em ms-time="play.prompt.time"> </em></p>
    <div id="containers" full-height>
        <div id="body-container" ><pre id="body" ng-bind-html="play.prompt.body" ng-click="scroller.pauseToggle(play.prompt.time)"></pre></div>
        <div id="notes-container"><pre id="notes" ng-bind-html="play.prompt.notes"></pre></div>
    </div>
</form>