<div class="jumbotron">
    <div class="container">
        <h1>A teleprompter for the 21st Century</h1>
        <p>This is an alpha version of a web app built for one purpose: scrolling
            text files at a steady rate. It's handy for musicians or speakers who have
            text that needs to zip by in a certain amount of time. It uses your browser's
            local storage, so your data will persist between restarts.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Add a text</h2>
            <p>First, click NEW on the nav bar to add a text file. There's a little required
                information.
                <br/>
                <strong>name </strong>A memorable name, so you can find this later!
                <br/>
                <strong>time </strong>The time (in milliseconds) to scroll your text
                <br/>
                <strong>body </strong>The actual text. This can include basic HTML formatting tags
                (like p, hr, em, or strong).
            </p>
        </div>
        <div class="col-sm-4">
            <h2>Play a text</h2>
            <p>
                Choose the text name from the Prompts downdown menu in the nav bar.
                <br/>
                <strong>Play </strong>Start or continue scrolling the text
                <br/>
                <strong>Pause </strong>Pause scrolling. You can continue where you left off by pressing play again.
                <br/>
                <strong>Top </strong>Scroll the text to the top, ready to be played again
            </p>
        </div>
        <div class="col-sm-4">
            <h2>Edit/Delete a text</h2>
            <p>
                Choose the text name from the Prompts downdown menu in the nav bar
                and press Edit.
                <br/>
                <strong>Delete </strong>Permenantly delete this text.
                <br/>
                <strong>Edit the text </strong>Feel free to edit any text. 
            </p>
        </div>
        
    </div>
    <div class="container">