<form role="form">
    <input type="text" ng-model="edit.prompt.name" placeholder="Name" class="form-control">
    <input type="text" ng-model="edit.prompt.time" placeholder="Length in milliseconds" class="form-control">
    <textarea ng-model="edit.prompt.body" placeholder="Paste your text here." class="form-control"></textarea>
    <input type="button" class="btn btn-primary" value="Play" ng-click="edit.playPrompt()">
    <input type="button" class="btn btn-danger" value="Delete" ng-click="edit.removePrompt()">
</form>