<form role="form" name="form" class="edit" novalidate>
    <div class="button-row">
        <button type="button" class="btn btn-success" ng-click="edit.updatePrompt()">
            <i class="fa fa-save"></i> Save
        </button>
        <button type="button" class="btn btn-danger" ng-click="edit.removePrompt()">
            <i class="fa fa-trash-o"></i> Delete
        </button>
        <button type="button" class="btn btn-info right" ng-disabled="form.$invalid" ng-click="edit.playPrompt()">
            <i class="fa fa-play"></i> Play
        </button>
    </div>
    <!-- Info -->
    <input type="text" ng-model="edit.prompt.name" placeholder="Name" class="form-control name" name="name" required>
    <input type="text" ms-time="edit.prompt.time" placeholder="Length in hr:min:sec" class="form-control time" name="time" min="1" required>
    <textarea ng-model="edit.prompt.body" placeholder="Body." class="form-control body" full-height name="body" required></textarea>
</form>