<form role="form" name="form" ng-submit="new.addPrompt(main.prompts)" novalidate>
    <div class="button-row">
        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">
            <i class="fa fa-plus"></i> Add
        </button>
    </div>
    <!-- Info -->
    <input type="text" ng-model="new.prompt.name" placeholder="Name" class="form-control" required>
    <input type="number" ng-model="new.prompt.time" placeholder="Length in milliseconds" class="form-control" min="1" integer required>
    <textarea ng-model="new.prompt.body" placeholder="Paste your text here." class="form-control" full-height required></textarea>
</form>