<h3>Raw Data</h3>

<p>
    This is the raw data for everything you've uploaded into prompt. 
    Eventually prompt will implement
    Google Drive integration to let you move your data between devices.
    In the meantime, copy everything here and paste it into this box on a
    different device, or vice versa. You'll immediatly have access to all your
    stuff!
</p>

<p>
    <strong>Careful!</strong> Once you click Overwirite, there's no going
    back!
</p>

<form role="form" ng-submit="raw.overwritePrompts()" >
    <button type="submit" class="btn btn-danger" ng-enabled="raw.prompts">
        <i class="fa fa-save"></i> Overwrite
    </button>
    
    <textarea ng-model="raw.prompts" placeholder="Paste here!" class="form-control" name="data" full-height></textarea>
</form>