<h3>Raw Data</h3>

<p>
    This area is for moving your data to a different device, or backing it up.
    You can export a file that holds all your data, email it to your phone,
    and import it there to get all your stuff, ready to scroll!</br>
    
    Eventually prompt will implement
    Google Drive integration to let you move your data between devices.
    In the meantime, this is a good way of keeping everything in sync.
</p>

<p>
    <strong>Careful!</strong> Once you import new data,
    your old data is wiped away!
</p>

<form role="form" ng-submit="raw.overwritePrompts()" >
    <export-btn></export-btn>
    <import-btn></import-btn>
</form>